@{
    ViewData["Title"] = "Thông tin Việt Nam";
}
<div class="container">
    <h1>Thông tin Việt Nam</h1>

    <div class="row">
        <div class="col-md-6">
            <h3>Vị trí địa lý</h3>
            <p>Việt Nam nằm ở Đông Nam Á, giáp với Trung Quốc, Lào, Campuchia và Biển Đông.</p>
            <p>Diện tích: 331,212 km²</p>
        </div>

        <div class="col-md-6">
            <h3>Con người</h3>
            <p>Dân số: ~98 triệu người</p>
            <p>54 dân tộc anh em</p>
            <p>Văn hóa đa dạng, phong phú</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h3>Đặc điểm</h3>
            <ul>
                <li>Khí hậu nhiệt đới gió mùa</li>
                <li>Nền văn minh lúa nước lâu đời</li>
                <li>Lịch sử hào hùng 4000 năm</li>
                <li>Nhiều di sản văn hóa thế giới</li>
            </ul>
        </div>
    </div>
</div>
